<!--<nz-layout>-->
<!--  <app-header></app-header>-->
<!--  <nz-layout>-->
<!--   <app-sidebar></app-sidebar>-->
<!--    <nz-layout class="inner-layout">-->
<!--      <nz-content>-->
<!--        <div class="relative md:ml-64 bg-blueGray-100">-->
<!--          <div class="px-4 md:px-10 mx-auto w-full m-24">-->
<!--            <div class="flex flex-wrap mt-4">-->
<!--              <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">-->
<!--                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">-->
<!--                  <div class="rounded-t mb-0 px-4 py-3 border-0">-->
<!--                    <div class="flex flex-wrap items-center">-->
<!--                      <div class="relative w-full px-4 max-w-full flex-grow flex-1">-->
<!--                        <h3 class="font-semibold text-base text-blueGray-700">-->
<!--                          Page visits-->
<!--                        </h3>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="block w-full overflow-x-auto">-->
<!--                    &lt;!&ndash; Projects table &ndash;&gt;-->
<!--                    <table class="items-center w-full bg-transparent border-collapse">-->
<!--                      <thead>-->
<!--                      <tr>-->
<!--                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">-->
<!--                          Page name-->
<!--                        </th>-->
<!--                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">-->
<!--                          Visitors-->
<!--                        </th>-->
<!--                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">-->
<!--                          Unique users-->
<!--                        </th>-->
<!--                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">-->
<!--                          Bounce rate-->
<!--                        </th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr>-->
<!--                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">-->
<!--                          /argon/-->
<!--                        </th>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          4,569-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          340-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>-->
<!--                          46,53%-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      <tr>-->
<!--                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">-->
<!--                          /argon/index.html-->
<!--                        </th>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          3,985-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          319-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          <i class="fas fa-arrow-down text-orange-500 mr-4"></i>-->
<!--                          46,53%-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      <tr>-->
<!--                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">-->
<!--                          /argon/charts.html-->
<!--                        </th>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          3,513-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          294-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          <i class="fas fa-arrow-down text-orange-500 mr-4"></i>-->
<!--                          36,49%-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      <tr>-->
<!--                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">-->
<!--                          /argon/tables.html-->
<!--                        </th>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          2,050-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          147-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>-->
<!--                          50,87%-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      <tr>-->
<!--                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">-->
<!--                          /argon/profile.html-->
<!--                        </th>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          1,795-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          190-->
<!--                        </td>-->
<!--                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">-->
<!--                          <i class="fas fa-arrow-down text-red-500 mr-4"></i>-->
<!--                          46,53%-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </nz-content>-->
<!--    </nz-layout>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->

<nz-layout>
  <nz-sider nzWidth="200px" class="sider-menu">
    <div class=" mt-2">
      <img
        class="mx-auto h-20 w-auto"
        alt=""
        src="assets/images/logo.jpg"
        width="150px"
      />
    </div>
    <nz-divider></nz-divider>
    <ul nz-menu nzTheme="light" nzMode="light" class="m-4">
      <li nz-menu-item class="item">
        <span nz-icon nzType="pie-chart"></span>
        <a [routerLink]="['/login']">Login</a>
      </li>
      <nz-divider class="item-divider"></nz-divider>
      <li nz-menu-item class="item">
        <span nz-icon nzType="desktop"></span>
        <a [routerLink]="['/signUp']">SignUp</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <app-header></app-header>
    <nz-content>
      <div class="inner-content">
        <div class="px-4 md:px-10 mx-auto w-full">
          <div class="flex flex-wrap mt-4">
            <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                      <h3 class="font-semibold text-base text-blueGray-700">
                        Page visits
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="block w-full overflow-x-auto">
                  <!-- Projects table -->
                  <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                    <tr>
                      <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        Page name
                      </th>
                      <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        Visitors
                      </th>
                      <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        Unique users
                      </th>
                      <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        Bounce rate
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                        /argon/
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        4,569
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        340
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                        46,53%
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                        /argon/index.html
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        3,985
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        319
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-down text-orange-500 mr-4"></i>
                        46,53%
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                        /argon/charts.html
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        3,513
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        294
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-down text-orange-500 mr-4"></i>
                        36,49%
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                        /argon/tables.html
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        2,050
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        147
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                        50,87%
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                        /argon/profile.html
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        1,795
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        190
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-down text-red-500 mr-4"></i>
                        46,53%
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
